# Node
node_modules
dist

# Python
__pycache__
*.pyc
.env

# uploads
backend/src/uploads/*
ai-service/uploads/*

# Docker
*.log

# OS
.DS_Store

# Env (NO subir secretos)
.env
*.env
backend/.env
frontend/.env