.footer {
  width: 100%;
  margin: 0;
  margin-top: 100px;
  padding: 20px 40px;

  background: #1e293b;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  /* asegura que no haya espacios raros */
  box-sizing: border-box;
}

/* Cada sección */
.footer-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= */
/* SECCIÓN 1 (logo institución) */
/* ================= */

.footer-logo {
  max-height: 60px;
  object-fit: contain;
}

/* ================= */
/* SECCIÓN 2 (logo + texto) */
/* ================= */

.footer-center {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-center img {
  height: 80px; /* 🔥 ocupa el alto del texto */
  object-fit: contain;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-text span:first-child {
  font-weight: bold;
}

.footer-text span:last-child {
  font-size: 0.9rem;
  color: #94a3b8;
}

/* ================= */
/* SECCIÓN 3 */
/* ================= */

.footer-right {
  text-align: center;
  font-size: 0.9rem;
  color: #94a3b8;
}
