/* Contenedor de imagen-logo */
.home-image {
  max-width: 500px;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  margin-top: 20px;
  object-fit: contain;
}

/* Contenedor de botones */
.home-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Botones */
.home-btn {
  padding: 12px 20px;
  background: var(--section-color);
  color: var(--text-color);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

/* Hover efecto botones */
.home-btn:hover {
  border: 1px solid var(--primary-color);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(24, 120, 111, 0.4);
}
